body{
    background-color: rgb(209, 31, 31);
}
img{
    width: 250px;
    height:170px;
}

td{
    width: 250px;
    height:170px;
    border: black solid 2px;
}
tr{
    border: black solid 2px;
}
table{
border: black solid 2px;
}
h6{
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white; 
}
.box{
    width: 250px;
    height:170px;

}
text{
   text-align: center; 
   
}
